.footer{
    width:100%;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    border:0px solid black;
    background-color:#F5F5F5;
    padding-top:40px;
    padding-left:30px;
    padding-bottom:40px;

    margin-top:50px;
    margin-top: 50px;

    


}
.footer>div>h4{
    font-size:13px;
    font-style:inherit;

}
.footer>div>p{
    font-style:inherit;
    font-size:13px;
}
.footer>div>p:hover{
    color:blue;
}

.bottom1>div{
    display:flex;
    border:0px solid black;
    width:100%;
    background-color:#F5F5F5;
    justify-content:space-evenly;
}
.bottom1>div>p{
    font-style:inherit;
    font-size:11px;
}
.bottom2>div{
    display:flex;
    border:0px solid black;
    width:30%;
    background-color:#F5F5F5;
    
}
.bottom3>div{
    display:flex;
    border:0px solid black;
    width:50%;
    margin:auto;

}
.footer>div>Button{
    background-color:black;
    color:white;
    height:26px;
    
}