.paymentpage {
  margin: 0px;
  padding: 0px;
  border: 1px solid rgb(208, 24, 24);
  width: 90%;
  height: 900px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.enter-address {
  border: 1px solid green;
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.enter-address input {
  border: 1px solid blue;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 80%;
  height: 60px;
  border-radius: 3px;
}

.enter-address button {
  border: 1px solid blueviolet;
  background-color: blueviolet;
  color: white;
  width: 80%;
  height: 30px;
  margin-top: 5px;
  border-radius: 3px;
}

.enter-address h2 {
  font-weight: bold;
}

.payment-box {
  border: 1px solid brown;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.paymentpage-cartmap {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}
.payhere {
  border: 1px solid blueviolet;
  margin-top: 10px;
  color: white;
  height: 30px;
  width: 70%;
  background-color: blueviolet;
}
